.md-header {
    background-color: rgb(22, 22, 28);
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Space Grotesk', sans-serif;
}

body, p {
    font-family: 'Inter', sans-serif;
}

.md-header a {
    color: black;
}

.md-header a {
    color: white !important;
}

.md-header__topic {
    font-weight: 500 !important;
    font-family: 'Space Grotesk', sans-serif;
}

nav img {
    transform: scale(1.5, 1.5);
}

.md-header a:hover {
    color: rgb(50 114 223);
}
