/* Toolbar farben */
.md-header {
    background-color: rgb(33,33,33);
    color: white;
}

/* Titel (h1, h2, h3, etc.) mit Space Grotesk */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Space Grotesk', sans-serif;
}

/* Text mit Inter */
body, p {
    font-family: 'Inter', sans-serif;
}

/* die Farbe der Links in der Toolbar */
.md-header a {
    color: black;
}

.md-header a {
    color: white !important;
}

.md-header__topic {
    font-weight: 500 !important;
    font-family: 'Space Grotesk', sans-serif;
}

nav img {
    transform: scale(1.5, 1.5);
}

/* Hover-Zustand von Links */
.md-header a:hover {
    color: rgb(50 114 223); /* Blau für Hover-Effekt */
}
